<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd"
	default-lazy-init="true">

	<!-- 开启SpringMVC注解 -->
	<mvc:annotation-driven />
	
	<!-- 使用Annotation自动注册Bean,只扫描@Controller -->
	<context:component-scan base-package="com.mezhou887" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 对静态资源文件的访问   --> 
	<mvc:default-servlet-handler/>
	
	<!-- 配置对注解的处理适配器 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="cacheSeconds">
			<value>0</value>
		</property>
		<property name="messageConverters">
			<list>
				<!-- 配置用于转换JSON的处理类，这里使用的是Jackson -->
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							 <!-- 配置请求头，用于明确指示返回的请求类型是JSON -->
							<value>application/json;charset=utf-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>	
	
	<!-- Velocity视图引擎 -->
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<!-- 配置引擎的一些属性 -->
		<property name="resourceLoaderPath">
			<!-- Velocity模板存储位置 -->
			<value>/WEB-INF/views/</value>
		</property>
		<property name="velocityProperties">
			<props>
				<!-- 输入、输出转码，配合解析器的contentType属性使用，解决页面中文乱码问题 -->
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
				<prop key="contentType">text/html;charset=utf-8</prop>
			</props>
		</property>
	</bean>	
	
	<!-- Velocity视图解析器 -->
	<bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<!-- 配置html文件为Velocity模板 -->
		<property name="suffix">
			<value>.html</value>
		</property>
		<!-- 页面编码，与引擎对应配置一起使用 -->
		<property name="contentType">
			<value>text/html;charset=utf-8</value>
		</property>
		<!-- 将Request的Context属性暴露给模板使用，配置这个属性后页面就可以通过$request.xxxx获取Request中的Context属性了 -->
		<property name="requestContextAttribute">
			<value>request</value>
		</property>
		<!-- 将Request、Session写入Model中，可以直接从Model中取出相应的值-->
		<property name="exposeRequestAttributes">  
            <value>true</value>  
        </property>  
        <property name="exposeSessionAttributes">  
            <value>true</value>  
        </property>
        <!-- 是否使用模板缓存，在高并发下有助于提高性能 
        <property name="cache">
        	<value>true</value>
        </property>-->
        <!-- 一些常用工具类配置 -->
        <!-- 配置时间转换工具 -->
        <property name="dateToolAttribute">
        	<value>dateTool</value>
        </property>
        <!-- 数字工具 -->
        <property name="numberToolAttribute">
        	<value>numberTool</value>
        </property>
	</bean>

  </beans>