#set($ctx=$request.contextPath)
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
	<title>任务状态监控</title>
	<link rel="stylesheet" type="text/css" href="$ctx/static/css/jquery.dataTables.min.css">
	
	<script type="text/javascript" language="javascript" src="$ctx/static/js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" language="javascript" src="$ctx/static/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="$ctx/static/js/bootstrap.min.js"></script>	
	<script type="text/javascript" language="javascript" class="init">
		$(document).ready(function() {
			$('#example').DataTable({
				"bLengthChange": false,
				"bAutoWidth": true,
				"oLanguage": {
					"sLengthMenu": "每页显示 _MENU_ 条记录",
					"sZeroRecords": "抱歉， 没有找到",
					"sInfo": "共 _TOTAL_ 条数据",
					"sInfoEmpty": "没有数据",
					"sInfoFiltered": "(从 _MAX_ 条数据中检索)",
					"oPaginate": {
						"sFirst": "首页",
						"sPrevious": "前一页",
						"sNext": "后一页",
						"sLast": "尾页"
						},
					"sZeroRecords": "没有检索到数据"
					}
			});
			
            $("#addJob").click(function() {
            	location.href='$ctx/quartz/toAdd.action';
            });
            
            $("#refresh").click(function() {
            	location.href='$ctx/quartz/index.action';
            });
		});
		
	     //暂停执行
	     function pauseJob(jobName, jobGroup) {
	     		jQuery.ajax({
	          		url : "$ctx/quartz/pause.action?jobName="+jobName+"&jobGroup="+jobGroup,
	          		type : "post",
	          		dataType : "json",
         			success : function(data) {
         				alert(data.status);
         				location.href="$ctx/quartz/index.action";
         			}
         		});		
         }
	     
	     //继续执行
	     function resumeJob(jobName, jobGroup) {
	     		jQuery.ajax({
	          		url : "$ctx/quartz/resume.action?jobName="+jobName+"&jobGroup="+jobGroup,
	          		type : "post",
	          		dataType : "json",
          			success : function(data) {
          				alert(data.status);
          				location.href="$ctx/quartz/index.action";
          			}
          		});		
          }	     
		
	     //删除
	     function deleteJob(jobName, jobGroup) {
	     	if (confirm("确定删除所Job?")) {
	     		jQuery.ajax({
	          		url : "$ctx/quartz/remove.action?jobName="+jobName+"&jobGroup="+jobGroup,
	          		type : "post",
	          		dataType : "json",
          			success : function(data) {
          				alert(data.status);
          				location.href="$ctx/quartz/index.action";
          			}
          		});		
          	}
	     }	
	     
	     //立刻执行
	     function runJob(jobName, jobGroup) {
	     		jQuery.ajax({
	          		url : "$ctx/quartz/run.action?jobName="+jobName+"&jobGroup="+jobGroup,
	          		type : "post",
	          		dataType : "json",
          			success : function(data) {
          				alert(data.status);
          				location.href="$ctx/quartz/index.action";
          			}
          		});		
          }
	     
	</script>
</head>
<body class="dt-example">
	<div class="container">
		<section>
			<h1>任务状态</h1>
			<table id="example" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>JobName</th>
						<th>TriggerName</th>
						<th>JobClassName</th>
						<th>CronExpression</th>
						<th>TriggerState</th>
						<th>StartTime</th>
						<th>NextFireTime</th>
						<th>PrevFireTime</th>
						<th>EndTime</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>JobName</th>
						<th>TriggerName</th>
						<th>JobClassName</th>
						<th>CronExpression</th>
						<th>TriggerState</th>
						<th>StartTime</th>
						<th>NextFireTime</th>
						<th>PrevFireTime</th>
						<th>EndTime</th>
						<th>Operation</th>
					</tr>
				</tfoot>
				<tbody>
					#foreach($job in $!jobs)
					#set($index=$velocityCount)
						<tr>
							<td>$!job.jobName</td>
							<td>$!job.triggerName</td>
							<td>$!job.jobClassName</td>
							<td>$!job.cronExpression</td>
							<td>$!job.triggerState</td>
							<td>$!job.startTime</td>
							<td>$!job.nextFireTime</td>
							<td>$!job.prevFireTime</td>
							<td>$!job.endTime</td>
							<td>
								<span>
									#if($!job.triggerState == 'ACQUIRED')
										<input id="resumeJob" type="button" onclick="resumeJob('$!job.jobName', '$!job.jobGroup')" value="继续"/>									
										<input id="pauseJob" type="button" onclick="pauseJob('$!job.jobName', '$!job.jobGroup')" value="暂停"/>
									#else
										<input id="resumeJob" type="button" onclick="resumeJob('$!job.jobName', '$!job.jobGroup')" value="继续"/>									
										<input id="pauseJob" type="button" onclick="pauseJob('$!job.jobName', '$!job.jobGroup')" value="暂停"/>
									#end
									<input id="deleteJob" type="button" onclick="deleteJob('$!job.jobName', '$!job.jobGroup')" value="删除"/>
									<input id="runJob" type="button" onclick="runJob('$!job.jobName', '$!job.jobGroup')" value="立刻执行"/>
								</span>
							</td>
						</tr>					
					#end
				</tbody>
			</table>
		</section>
	</div>
	<div>
		<span>
			<input id="addJob" type="button" value="添加任务"/>
			<input id="refresh" type="button" value="刷新页面"/>
		</span>
	</div>
</body>
</html>