<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="host" value="smtp.exmail.qq.com"/>
		<property name="username" value="1033738034@qq.com"/>
		<property name="password" value=""/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.debug">true</prop>
				<prop key="mail.smtp.timeout">0</prop>
			</props>
		</property>
	</bean>
    
    <bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="1033738034@qq.com" />
        <property name="to" value="mezhou887@foxmail.com" />
        <property name="subject" value="任务状态监控" />
    </bean>
<!--  
    <bean id="simpleMail" class="com.mezhou887.quartz.schedule.MailProcessor">
        <property name="mailSender" ref="mailSender" />
        <property name="simpleMailMessage" ref="simpleMailMessage" />
    </bean>
-->   
</beans>