<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

  <!-- quartz的调度工厂 调度工厂只能有一个，多个调度任务在list中添加 -->
  <bean name="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="triggers">
      <list>
         <!-- 所有的调度列表-->
        <ref bean="oneMinuteTrigger" />
        <ref bean="oneHourTrigger" />
      </list>
    </property>
  </bean>

  <bean id="oneMinuteTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="oneMinuteDetail" />
    <property name="cronExpression">
      <!-- 每分钟执行一次 -->
      <value>0 0/1 * * * ?</value>
    </property>
  </bean>
  <bean id="oneMinuteDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="oneMinuteSchedule" />
    <property name="targetMethod" value="exec" />
  </bean>
  <bean id="oneMinuteSchedule" class="com.mezhou887.test.quartz.schedule.OneMinuteSchedule" />

  <bean id="oneHourTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="oneHourDetail" />
    <property name="cronExpression">
      <!-- 每小时执行一次 -->
      <value>0 0 0/1 * * ?</value>
    </property>
  </bean>
  <bean id="oneHourDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="oneHourSchedule" />
    <property name="targetMethod" value="exec" />
  </bean>
  <bean id="oneHourSchedule" class="com.mezhou887.test.quartz.schedule.OneHourSchedule" />

</beans>