<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
    xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    " >
  
   <context:component-scan base-package="com.mezhou887">
   		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>				
			</list>
		</property>
	</bean>
	 
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}" />	
		<property name="jdbcUrl" value="${jdbc.url}" />	
		<property name="user" value="${jdbc.username}" />	
		<property name="password" value="${jdbc.password}" />		
		<property name="initialPoolSize" value="${cpool.minPoolSize}"/>	
		<property name="minPoolSize" value="${cpool.minPoolSize}" />	
		<property name="maxPoolSize" value="${cpool.maxPoolSize}" />	
		<property name="acquireIncrement" value="${cpool.acquireIncrement}" /> 
    	<property name="maxIdleTime" value="${cpool.maxIdleTime}"/>   
	</bean>	
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan">
			<list>
				<value>com.mezhou887.quartz.model</value>				
			</list>
		</property>	
	    <property name="hibernateProperties">
	        <props>
	            <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
	            <prop key="hibernate.show_sql">true</prop>
	            <prop key="hibernate.format_sql">true</prop>				
				<prop key="hibernate.hbm2ddl.auto">update</prop>        
	        </props>
	    </property>
	</bean>	
	
	<bean id="transactionManager"  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	    <property name="sessionFactory" ref="sessionFactory"/>
	</bean>		

	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />	

</beans>