<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
  					  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

  <!-- 加载配置属性文件 需要处理掉TODO-->
  <context:property-placeholder location="classpath:webmagic-quartz.properties" />

  <!-- quartz的调度工厂 调度工厂只能有一个，多个调度任务在list中添加 -->
  <bean name="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="triggers">
      <list>
		<!-- 每分钟执行一次的范例 -->
        <ref bean="oneMinuteTrigger" />
		<!-- 每小时执行一次的范例 -->
        <ref bean="oneHourTrigger" />
        <!-- 爬取知乎 -->
        <!-- <ref bean="zhihuTrigger" /> -->
        <!-- 备份数据库 -->
        <ref bean="backupDBTrigger" />
       	<!-- 压缩数据库 -->
       	
       	<!-- 定时发邮件 -->
      </list>
    </property>
  </bean>  
      
  <!-- 测试每分钟执行一次 -->
  <bean id="oneMinuteTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="oneMinuteDetail" />
    <property name="cronExpression">
      <value>0 0/1 * * * ?</value>
    </property>
  </bean>
  <bean id="oneMinuteDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="oneMinuteSchedule" />
    <property name="targetMethod" value="exec" />
  </bean>
  <bean id="oneMinuteSchedule" class="com.mezhou887.test.quartz.schedule.OneMinuteSchedule" />

  <!-- 测试每小时执行一次 -->
  <bean id="oneHourTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="oneHourDetail" />
    <property name="cronExpression">
      <value>0 0 0/1 * * ?</value>
    </property>
  </bean>
  <bean id="oneHourDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="oneHourSchedule" />
    <property name="targetMethod" value="exec" />
  </bean>
  <bean id="oneHourSchedule" class="com.mezhou887.test.quartz.schedule.OneHourSchedule" />
  
  <!-- 测试爬取知乎页面，每两小时执行一次 -->
  <bean id="zhihuTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="zhihuDetail" />
    <property name="cronExpression">
      <value>0 15 0/2 * * ?</value>
    </property>
  </bean>
  <bean id="zhihuDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="zhihuSchedule" />
    <property name="targetMethod" value="exec" />
  </bean>
  <bean id="zhihuSchedule" class="com.mezhou887.quartz.schedule.ZhihuPageProcessor" />  

  <!-- 测试备份数据库功能，每天0点执行一次 -->
  <bean id="backupDBTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
    <property name="jobDetail" ref="backupDBDetail" />
    <property name="cronExpression">
    	<value>0 0 0 * * ?</value>
    </property>
  </bean>
  <bean id="backupDBDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="backupDBSchedule" />
    <property name="targetMethod" value="exec" />
  </bean>
  <bean id="backupDBSchedule" class="com.mezhou887.quartz.schedule.BackupDBProcessor">
    <property name="schema" value="${jdbc.schema}" />
    <property name="user" value="${jdbc.username}" />
    <property name="password" value="${jdbc.password}" />
    <property name="basePath" value="E://Crawler//data//" />
  </bean>  
</beans>