<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
  					  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

  <!-- 加载配置属性文件 需要处理掉TODO-->
  <context:property-placeholder location="classpath:webmagic-quartz.properties" />

  <!-- quartz的调度工厂-->
  <bean name="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
  	<property name="dataSource">
  		<ref bean="dataSource" />
  	</property>
  	<property name="applicationContextSchedulerContextKey"  value="applicationContextKey" /> 
    <property name="configLocation" value="classpath:quartz.properties"/>
  </bean>

</beans>